body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.maindiv {
    display: block; 
    width: 100%;
    height: 100vh;
    background-color: red;
}
.div1child {
    display: inline-block;
    width: 70px;
    height: 100%;
    background-color: rgb(11, 51, 110);
    vertical-align: top;
}
.div2child {
    display: inline-block;
    width: 300px;
    height: 100%;
    background-color: rgb(248, 248, 202);
    vertical-align: top;
}
.div3child {
    display: inline-block;
    width: calc(100% - 378px);
    height: 100%;
    background-color: rgb(148, 148, 235);
    vertical-align: top;
}
.containerwithalldoctors {
    display: block;
}
.doctorsrow1 {
    width: 90%;
    display: block;
}
.doctorsrow2 {
    width: 90%;
    display: block;
}
.doctorsrow3 {
    width: 90%;
    display: block;
}
.doctorshortid {
    width: 20%;
    height: 300px;
    display: inline-block;
    background-color:aqua;
    box-sizing: border-box;
    margin-bottom: 30px;
}
.buttonprofession {
    display: block;
    max-width: 300px;
    margin: auto;
    background-color:#b7d7e8;
    color: cornflowerblue;
    font-weight: bold;
}
p { 
    text-align: center 
}
h4 { 
    text-align: center;
}
img {
    max-width: 110px;
    max-height: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}