.nav-top1 {
    margin-left: 220px;
}
.navtop2 li {
    margin-left: 150px;
    display: inline-block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container1 {
    padding: 20px 20px 20px 40px;
    margin-left: 420px;
}
.container2 {
    padding: 20px 20px 20px 40px;
    margin-left: 420px;
}
.container3 {
    padding: 20px 20px 20px 40px;
    margin-left: 420px;
}
.row1 {
    width: 21%;
    height: 300px;
    display: inline-block;
    background-color: aqua;
    box-sizing: border-box;
}
.row2 {
    width: 21%;
    height: 300px;
    display: inline-block;
    background-color:aqua;
    box-sizing: border-box;
}
.row3 {
    width: 21%;
    height: 300px;
    display: inline-block;
    background-color:aqua;
    box-sizing: border-box;
}
.buttonprofession {
    display: block;
    max-width: 300px;
    margin: auto;
}
p { 
    text-align: center 
}
h3 { 
    text-align: center 
}
