body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
.maindiv {
    display: block; 
    width: 100%;
    height: 100vh;
    background-color: red;
}
/* BLOCK 1 */
.div1child {
    display: inline-block;
    width: 70px;
    height: 100%;
    background-color: #0069ff;
    vertical-align: top;
}
.div1child__icon-bar {
    width: 70px;
    height: 100%;
    background: linear-gradient(45deg, #3689ff, #005de9);
}
.div1child__icon-bar a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    transition: all 0.4s ease; /* Add transition for hover effects */
    color: #63a9fe;
    font-size: 26px;
    margin: auto;
    margin-bottom: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.fa.div1child__icon-bar_fa {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.div1child__icon-bar a:hover {
    background-color: white;
}
.activeiconbar {
    position: relative;
    display: block;
    width: 70px;
    height: 70px;
}
.activeiconbar:active {
    background: linear-gradient(45deg, #3689ff, #005de9);
    color: #fff;
    text-decoration: none;
    border-radius: 0;
}
.activeiconbar:active > a:hover {
    background-color: transparent !important;
}
/* BLOCK 2 */
.block2 {
    display: inline-block;
    width: 300px;
    height: 100%;
    background-color: #ffffff;
    vertical-align: top;
}
.sidebar-all {
    display: block;
    width: 300px;
    height: 50%;
    vertical-align: top;
    position: relative;
}
.btntop {
    display: block;
    width: 250px;
    height: 60px;
    border-radius: 15px;
    color: #3779ca;
    background-color: #ebf1ff;
    text-align: left;
    font-size: 22px;
    position: absolute;
    top: 30px;
    left: 25px;
}
.btntop_fa {
    padding: 20px 5px 20px 10px;
    text-decoration: none;
}
.btntop a {
    text-decoration: none;
}
.btntop:hover {
    background-color:rgb(57, 252, 252);
}
.btntop:active {
    background: linear-gradient(45deg, #3689ff, #005de9);
    color: #fff;
    border-radius: 15px;
}
.btntop:active > .btntop:hover {
    background-color: transparent !important;
}
/* SIDEBAR MENU WITH 4 BUTTONS */
.sidebar {
    display: block;
    width: 250px;
    height: 300px;
    position: absolute;
    top: 130px;
    left: 25px;
}
.sidebarbtn {
    display: block;
    width: 250px;
    height: 52px;
    text-align: left;
    font-size: 18px;
    border-radius: 15px;
}
.sidebarbtn_fa {
    padding: 18px 5px 20px 10px;
    text-decoration: none;
}
.sidebarbtn a {
    text-decoration: none;
    color: rgb(94, 93, 93);
}
.sidebarbtn:hover {
    background-color:rgb(57, 252, 252);
}
.sidebarbtn:active {
    background: linear-gradient(45deg, #3689ff, #005de9);
    color: white;
    border-radius: 15px;
}
.sidebarbtn:active > .sidebarbtn:hover {
    background-color: transparent !important;
}
/* SIDEBAR BOTTOM MENU HOSPITAL LOGO */
.sidebarbottom {
    display: block;
    width: 300px;
    height: 50%;
    vertical-align: top;
    position: relative;
}
.containerhospital {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 25px 25px 0px 0px;
    margin: 0px 25px;
    padding: 30px;
    background: linear-gradient(to top, #d5e7ff, #f5fafe);
    position: absolute;
    font-size: 18px;
}
.containerhospital_colortext {
    color: #97a9c1;
    font-size: 16px;
    padding-left: 15px;
}
.containerhospital_imgdiv {
    display: block;
    width: 100%;
}
.containerhospital_img {
    display: block;
    width: auto;
    height: 80px;
    margin: auto;
}
.containerhospital-btn {
    position: absolute;
    top: 251px;
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    border-radius: 0px 0px 25px 25px;
    background-color: #d0e4ff;
    color: #3e7cc8;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.containerhospital-btn a {
    text-decoration: none;
}
.containerhospital-btn:hover {
    background-color:rgb(57, 252, 252);
    color:white;
}
.containerhospital-btn:active {
    background: linear-gradient(45deg, #3689ff, #005de9);
    color: white;
}
.containerhospital-btn:active > .containerhospital-btn:hover {
    background-color: transparent !important;
}
/* SETTINGS BUTTON */
.settings-btn {
    display: block;
    width: 300px;
    height: 50px;
    color: #bbbec9;
    background-color: white;
    text-align: left;
    border-top: 1px solid;
    border-radius: 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
}
.settings-btn-fa {
    padding: 2px;
}
.settings-btn a {
    text-decoration: none;
}
.settings-btn:hover {
    background-color:rgb(57, 252, 252);
    color:white;
}
.settings-btn:active {
    background: linear-gradient(45deg, #3689ff, #005de9);
    color: white;
}
.settings-btn:active > .settings-btn:hover {
    background-color: transparent !important;
}

















.div3child {
    display: inline-block;
    width: calc(100% - 378px);
    height: 100%;
    background-color: #fbfcff;
    vertical-align: top;
}

.topsearch {
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topsearch a {
    float: left;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.topsearch a:hover {
    background: linear-gradient(45deg, #0662f8, #009fff);
    color:white;
    text-decoration: none;
    border-radius: 25px;
}
/* Style the search box inside the navigation bar */
.topsearch input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    border-radius: 15px;
    margin-top: 8px;
    margin-right: 16px;
    margin-left: 750px;
    font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
    .topsearch a, .topsearch input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topsearch input[type=text] {
        border: 1px solid #ccc;
    }
}



/* Add a black background color to the top navigation */
.topnav {
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 25px;
}
/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #d1d2d6; 
    text-align: center;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background: linear-gradient(45deg, #0662f8, #009fff);
    color: white;
}
/* Add an active class to highlight the current page */
.active {
    background: linear-gradient(45deg, #0168ff, #0695fe);
    color: white;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("All"). Show the link that 
contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
 /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes 
 the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
.containerwithalldoctors {
    display: block;
    width: 100%; 
    padding: 30px 0px 20px 30px;
}
.doctorsrow1 {
    width: 100%;
    display: block;
}
.doctorsrow2 {
    width: 100%;
    display: block;
}
.doctorsrow3 {
    width: 100%;
    display: block;
}
.doctorshortid {
    width: 24%;
    height: 300px;
    margin-right: 5px;
    display: inline-block;
    background-color:#ffffff;
    box-sizing: border-box;
    margin-bottom: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    position: relative;

}
.docrating {
    position: relative;
    top: 40px;
    width: 65px;
    height: 30px;
    background-color: #fff3ed;
    color: #f0a36f;
    clip-path: polygon(100% 0%, 79% 51%, 100% 100%, 0 100%, 0% 50%, 0 0);
    font-size: 15px;
    text-indent: -10px;
    text-align: center; 
}
.div3child__doctorshortid_img {
    max-width: 110px;
    max-height: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.div3child__doctorshortid_docname {
    display: inline-block;
    color: black;
    font-size: 16px;
    padding-bottom: 15px;
    padding-left: 70px;
}
.div3child__doctorshortid_docadress {
    display: inline-block;
    color: #d7d9de;
    font-size: 14px;
    padding-left: 60px;
    padding-bottom: 20px;
}
.buttonprofession {
    display: block;
    max-width: 300px;
    margin: auto;
    background-color:#e9f3fd;
    color: #4778b6;
    font-weight: bold;
    border-radius:10px;
	-webkit-border-radius:10px;
    -moz-border-radius:10px;
    border: 0;
}
.buttonprofession a:hover {
    background: linear-gradient(45deg, #0662f8, #009fff);
    color: white;
    transition: all 0.4s ease;
    position: center;
}
.buttonavilability {
    width: 49.2%;
    height: 40px;
    display: inline-block;
    border-radius:0px 0px 0px 2px;
	-webkit-border-radius:0px 0px 0px 20px;
    -moz-border-radius:0px 0px 0px 20px;
    border: 0;
    background-color: #fbfcff;
    color: #cecfd4;
    position: absolute;
    bottom: -40px;
    left: 0%;
    transform: translateX(0%);
}
.buttoncall {
    width: 49.2%;
    height: 40px;
    display: inline-block;
    border-radius:0px 0px 20px 0px;
	-webkit-border-radius:0px 0px 20px 0px;
    -moz-border-radius:0px 0px 20px 0px;
    border: 0;
    background-color: #fbfcff;
    color: #cecfd4;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX( 1%);
}
.buttonavilability a:hover {
    background: linear-gradient(45deg, #0662f8, #009fff);
    color: white;
    transition: all 0.4s ease;
    position: center;
}
.buttoncall a:hover {
    background: linear-gradient(45deg, #0662f8, #009fff);
    color: white;
    transition: all 0.4s ease;
    position: center;
}
