.nav-top1 {
    margin-left: 220px;
}
.nav-top2 {
    margin-left: 420px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container1 {
    padding: 20px 20px 20px 40px;
    margin-left: 420px;
}
.container2 {
    padding: 20px 20px 20px 40px;
    margin-left: 420px;
}
.container3 {
    padding: 20px 20px 20px 40px;
    margin-left: 420px;
}
.row1 {
    width: 15%;
    height: 300px;
    display: inline-block;
    background-color: blue;
    box-sizing: border-box;
}
.row2 {
    width: 15%;
    height: 300px;
    display: inline-block;
    background-color: blue;
    box-sizing: border-box;
}
.row3 {
    width: 15%;
    height: 300px;
    display: inline-block;
    background-color: blue;
    box-sizing: border-box;
}
